.contact {
  border-top: solid black 1px;
  padding-top: 30px;
  position: relative;
}
.special-heading {
  color: #ebeced;
  font-weight: 800;
  text-align: center;
  font-size: 100px;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: -20px 0 0 0;
  }
}
.contact .info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.contact .info .label {
  font-weight: 800;
  font-size: 40px;
  color: var(--secondColor);
}
.contact .info .link {
  display: block;
  font-size: 40px;
  font-weight: 800;
  color: var(--mainColor);
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 5px;
  color: var(--secondColor);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
.footer {
  background-color: var(--secondColor);
  text-align: center;
  color: white;
  padding: 30px 10px;
  font-size: 18px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer span {
  color: var(--mainColor);
  font-weight: 800;
}
